
/* content */
.digicontent{
    padding: 2rem;
    font-family:sans-serif;
    background: linear-gradient(to right,rgba(0, 151, 178, 0.5),rgba(126, 217, 87, 0.5) );
    text-align: center;
    border-radius: 50px;
    margin: 1rem 2rem;
  
  }
  .digicontent h1{
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 2px;
  }
  
  .digicontent p{
    font-family: "Lobster", sans-serif;
    font-weight:lighter;
    font-style: normal;
    text-align: left;
    font-size: 30px;
    margin: 3rem;
  }

@media only screen and (max-width: 480px){
  .digicontent{
    border-radius: 25px;
    margin:0px;
    padding: 1rem;
  }
  .digicontent h1{
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 28px;
  }
  .digicontent p{
    font-size: 20px;
    margin: 1rem;
  }
}