/* Overview - Abi search*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Overview{
    margin: 1rem 2rem;
  }
  .sec-heading{
    text-transform: uppercase;
    color: #a8a0a0;
    font-family: sans-serif;
    line-height: 50px;
    letter-spacing: 4px;
    font-size: 40px;
  }
  .Overview-content{
     padding: 2rem;
     font-family: sans-serif;
     background: linear-gradient(to right,rgba(0, 151, 178, 0.5),rgba(126, 217, 87, 0.5) );
     text-align: center;
     border-radius: 50px;
    }
  .Overview-content h2{
    font-size: 40px;
    text-align: left;
  }
  
  .Overview-main{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #302f2f;
    font-weight:500;
    font-size: 35px;
    
  }
  .prof{
    text-transform: uppercase;
    color: #cc3852;
    font-weight: 700;
    font-size: 40px;
    margin: 1rem 25rem;
   
  }
  
  .services{
    display:flex;
    justify-content:space-between;
  }
  .quote{
    font-size: 45px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    margin:20px
  }
  
  .btn-primary{
    padding:25px;
    background-color: #004AAD;
    color: #fff;
    font-weight: 300;
    border-radius: 35px;
    text-transform: uppercase;
    border: none;
    margin: 0px 30px;
    font-size: 20px;
    width: 250px;
  }
  .btns-primary{
    justify-content: space-between;
    display: flex;
  }
  .list-style-img{
    width: 50px;
    height: 40px;
    padding:0px 10px;
  
  }
  
  .list-style-name{
    font-size: 30px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  @media only screen and (max-width: 480px) {
    .Overview{
      margin:0px;
    }
   .sec-heading{
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 20px;
   }
   .Overview-content{
    border-radius: 25px;
   }
   .Overview-content h2{
    font-size: 30px;
    text-align: center;
  }
  .Overview-main{
    font-size: 20px;
  }
  .prof{
    margin: 0.5rem 7rem;
    font-size: 20px;
  }
  .services{
    display: block;
  }
  .list-style-img{
    width: 40px;
    height: 30px;
    padding:0px 10px;
  
  }
  .list-style-name{
    font-size: 23px;
  }
  .quote{
    font-size: 30px;
    margin: 10px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .btns-primary{
    display: block;
  }
  .btn-primary{
    margin: 20px;
  }
  }